/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/packs
/public/assets
/node_modules
.bundle
/vendor/bundle
config/database.yml
config/master.key
config/credentials.yml.enc
.env
.DS_Store
!tmp/auto_seed.rb
!tmp/data_generation_timing.txt
